<!DOCTYPE HTML>
<html lang="en">
<head>
<title>StickyMobile BootStrap</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link rel="apple-touch-icon" sizes="180x180" href="app/icons/icon-192x192.png">
</head>

<div id="footer-bar" class="footer-bar-1">
  <a href="index.html">
    <i class="fa fa-cloud" style="font-size:40px;color:white"></i><br><span>Weather</span></a>
  <a href="index-components.html" class="active-nav"><i class="fa fa-calendar-o" style="font-size:40px;color:white"></i><br><span>Events</span></a>
  <a href="index-search.html"><i class="fa fa-search"></i><br><span>Book Now!</span></a>
  <a href="index-pages.html"><i class="material-icons" style="font-size:35px;color:white">format_list_numbered</i><br><span>Activities</span></a>
  <a href="index-search.html"><i class="fa fa-info" style="font-size:40px;color:white"></i><br><span>Others</span></a>

</div>

</html>
<!--
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-heartbeat" style="font-size:48px;color:red"></i> heart icon

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-street-view" style="font-size:48px;color:red"></i> visit icon


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-cutlery" style="font-size:48px;color:red"></i> utensil icon

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-bed" style="font-size:48px;color:red"></i> bed icon

  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-lock" style="font-size:48px;color:red"></i> lock icon

  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <i class="fa fa-building-o" style="font-size:48px;color:red"></i> building  venie icon
-->
